*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=PT+Sans:ital@1&family=Quicksand&display=swap");
.body-wrapper {
  width: 100%;
  position: relative;
  min-height: 100vh;
  height: auto;
  background: linear-gradient(white, rgb(229, 235, 229), honeydew);
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(60, 165, 165);
}
