.loading-wrapper {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading_cont {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid rgb(149, 177, 149);
  border-top-color: blue;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
